.message {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    max-width: 70%;
    margin-bottom: 10px;
}

.message.in {
    text-align: left;
    margin-right: auto;
}

.message.out {
    text-align: right;
    margin-left: auto;
}
